<!DOCTYPE html>
<html lang="en">
<head>

<style>
.remove{
	background-color: rgb(236, 170, 170);
	font-size: 7px;
	cursor: grab;
	height: "10px";
}

.task{

	display: inline;


}


</style>

	<script>
		
//making asyncronous request to local API
function httpGetAsync(theUrl, callback)
{
	console.log("calling async");
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
		console.log(xmlHttp);
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    }
    xmlHttp.open("GET", theUrl, true); // true for async
   xmlHttp.send();
}

//making asyncronous request to API
function httpPostAsync(theUrl, id, callback) 
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
	}
    xmlHttp.open("POST", theUrl, true); // true for asynchronous 
	xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xmlHttp.send("id=" + id);
}

function loadTasks(){
	console.log("here");
	httpGetAsync("/data", handleResponse);
}

function handleResponse(response){
	console.log("handling response");
	response = JSON.parse(response);
	console.log(response);
	const taskContainer = document.getElementById("task_container");
	taskContainer.innerHTML = "";
	response.forEach((item, index) => {
		const container = document.createElement('div');
		const task = document.createElement('div');
		task.setAttribute('class','task');
		task.setAttribute('id', index);
		//clicking Task will toggle its complete state
		task.addEventListener("click", toggleComplete);
			task.innerText = item.name;
		
		//creating button to remove task
		const remove = document.createElement('button');
		remove.innerHTML = "X";
		remove.setAttribute("class", "remove");
		remove.setAttribute('id', index)
		remove.addEventListener("click", deleteTask);

		const br = document.createElement("br");
			//task has no been completed, so don't strike through
		if (item.completed === false){
		taskContainer.append(task);
		taskContainer.append(remove);
		taskContainer.append(br)
		}
		else{
			const strike = document.createElement('strike');
			strike.append(task);
			taskContainer.append(strike);
			taskContainer.append(remove);
			taskContainer.append(br);
		}


	});
};


//on click, change the state of the to-do item
function toggleComplete(e){
	var id = e.target.id;
	httpPostAsync("/toggle_complete", id, loadTasks);
}


function deleteTask(e){
	var id = e.target.id;
	console.log(id);
	httpPostAsync("/delete_task", id, loadTasks);


}
console.log("bout to loadTasks");
loadTasks();

	</script>


</head>

<body>



<center>
<b>TASKS</b>
<br><br>
<div id="task_container">

</div>


<br>
<form id="add" action="/add" method="POST">
<input id="new_task" name="new_task">   </input>
<button type="submit"> Add Task </button>
</form>

<br><br>

<p style="font-size: 12px; ">
<b>Click on a task to mark it as complete or incomplete. </b> <br><br>

<br>
When a user lands on this page, an ajax call is made to /data to retrieve data.json data. <br>
On occasion, Chrome's same-origin policy will prevent the to-do items from showing up (you can refresh the page in that case).
<br><Br>
Add task submits data to /add through a form and redirects the page back to /part1c-d. <br>
Removing and toggle use ajax calls instead.

</p>


<a href="/" > Back </a>
</center>
</body>

</html>
